#General use .gitignore for Minecraft modding.

#Folders
/.idea/*
/.gradle/*
/build/*
/eclipse/*
/run/*
/out/*
/asm/*
/bin/*
/libs/*

#File Extensions
*.psd
*.iml
*.ipr
*.iws
*.classpath
*.project
*.zip
*.launch
*.db

#Specific files
.floo
.flooignore